<div class= wrapper>
  <div class = mainbox>
    <mat-card class= main>
      <div class=imagecenter>
        <img  class=img [ngStyle]="{'background-image':'url('+Image+')'}">
        <div class=imagestyle>Dress Image</div>
      </div>
      <div class=row1>

        <div class=row2>
          <div>
            <img class=icons src="../../assets/icons/dog-tag.svg" alt=""><P>Customer Name : {{CustomerName}}</P>
           </div>

           <div>
            <img class=icons src="../../assets/icons/dog-tag.svg" alt=""><P>Tailor Name : {{TailorName}}</P>
           </div>
           <div>
            <img  class=icons src="../../assets/icons/shirt.svg" alt=""><P>Shirt Details : {{ShirtDetails}}</P>
           </div>

           <div>
           <img class=icons src="../../assets/icons/shorts.svg"><P>Trouser Details : {{TrouserDetails}}</P>
           </div>
           <div>
            <img class=icons src="../../assets/icons/dress.svg" alt=""><P>Dress Type : {{DressType}}</P>
           </div>
           <div>
            <img class=icons src="../../assets/icons/stitch.svg" alt=""><P>Stich Type : {{StichType}}</P>
           </div>
           <div>
            <img class=icons src="../../assets/icons/comment.svg" alt=""><P>Coments: {{Coments}}</P>
           </div>
           <div>
            <img class=icons src="../../assets/icons/dollar.svg" alt=""><P>Dress Price: {{DressPrice}}</P>
           </div>
           <div>
            <img class=icons src="../../assets/icons/star.svg" alt=""><P>Rating: {{Rating}}</P>
           </div>

        </div>
        <div class=row3>
          <div>
            <img class=icons src="../../assets/icons/shoe-laces.svg" alt=""><P>Lace : {{Lace}}</P>
           </div>

           <div>
            <img class=icons src="../../assets/icons/piping-bag.svg" alt=""><P>Pipe : {{Pipe}}</P>
           </div>
           <div>
            <img  class=icons src="../../assets/icons/cloth-buttons.svg" alt=""><P>Button : {{Button}}</P>
           </div>

           <div>
           <img class=icons src="../../assets/icons/courier.svg" alt=""><P>Oder Type : {{OderType}}</P>
           </div>
           <div>
            <img class=icons src="../../assets/icons/calendar.svg" alt=""><P>Order Date : {{OrderDate}}</P>
           </div>
           <div>
            <img class=icons src="../../assets/icons/clock (1).svg" alt=""><P>Oder Deadline : {{OderDeadline}}</P>
           </div>
           <div>
            <img class=icons src="../../assets/icons/order-tracking.svg" alt=""><P>Order Status : {{OrderStatus}}</P>
           </div>
           <div>
            <img class=icons src="../../assets/icons/clock (1).svg" alt=""><P>  Order Started Date : {{OrderStartedDate}}</P>
           </div>

        </div>
      </div>

        <div class=sub-button1>
          <button  (click)="onDeleteOrder()"  mat-raised-button color="warn">Delete Order</button>
        </div>


    </mat-card>

  </div>

</div>
